body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: #7a6bdb;
  color: white;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #7a6bdb;
}

.form-row {
  margin-bottom: 15px;
}

.form-row label {
  display: inline-block;
  width: 150px;
  margin-bottom: 5px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="number"],
.form-row textarea {
  width: 100%;
  max-width: 200px;  
  padding: 5px;
  box-sizing: border-box;
}

.form-row textarea {
  vertical-align: top;
  height: 60px;
}

.qualification-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.qualification-container label {
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 16px;
}

.qualification-table {

  margin: 0;
  table-layout: fixed; 
  border-collapse: collapse;
}

.qualification-table th,
.qualification-table td {
  padding: 5px;
  word-wrap: break-word;
}
.qualification-table input{
  width: 100%;
}

button {
  text-align: center;
  justify-content: center;
  position: relative;
  left: 40%;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
